#!/bin/sh /etc/rc.common
 
START=100
STOP=15
USE_PROCD=1

start_service() {        
        echo start
        # commands to launch application
        cd /root/ifremer/python
        mkdir /mnt/mmcblk0p1/ifremer_data/
        micropython mqtt_sub.py 
}                 
 
stop_service() {          
        echo stop
        # commands to kill application 
}


reload_service() {
        stop
        start
}

